@num-boxes: 3;

body {
  background: white;
  font-family: "Input Mono Condensed";
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-transform: lowercase;
  font-style: italic;
  font-weight: 300;
}
  
h1 {
  margin-left: 10px;
}

.sampler-button {
  user-select: none;
  display: inline-block;
  text-align: center;
  background-color: lightgrey;
  
  flex-basis: calc(~"100% / @{num-boxes}"); 
  width: calc(~"100% / @{num-boxes}");
  height: calc(~"100% / @{num-boxes}");
  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
  transform: scale(1.0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;aaa

  &.is-record-mode {
    background-color: white;
  }

  &:nth-child(3n + 2) {
    border-left: 0px;
    border-right: 0px;
  }
  &:nth-child(-n+6) {
    border-bottom: 0px;
  }
  &:last-child {
    border-top: 0px;
  }

  .content {
    width: 100%;
    height: 100%;
    transition: transform 100ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
  }
  &.is-touched {
    .content {
      transform: scale(1.02);    
      opacity: 0.8;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }

}

.buttons-container {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-wrap: wrap;
}